.flex-none {
    flex: none; /* Assicurati che la sidebar mantenga la sua larghezza senza ridimensionarsi */
  }
  
  .flex-grow {
    flex-grow: 1; /* Consente al contenuto principale di occupare lo spazio rimanente */
  }

  .sidebar-fixed {
    position: sticky;
    top: 0; /* Regola questa distanza in base al layout del tuo sito */
  }
  